<!DOCTYPE html>
<html lang="en" ng-app="store">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Page Title -->
    <title>Project 1</title>
  <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="css/local.css" type="text/css">

  </head>
  <body>


<header class="jumbotron">
  <div class="container">
  <h1>Project 1 </h1>
</div>
</header>

<nav class="container">
  <ul class="nav nav-pills">
  <li role="presentation" ><a href="start.html">Start</a></li>
  <li role="presentation" class="active"><a href="project1.html">Project 1</a></li>
  <li role="presentation"><a href="project2.html">Project 2</a></li>
  <li role="presentation"><a href="project3.html">Project 3</a></li>
</ul>
</nav>
<div class="container">
<main ng-controller="StoreController as store">
<!--  <div ng-hide="store.product.soldOut">
  <h1>{{store.product.name}} </h1>
  <h2> ${{store.product.price}}</h2>
  <p> {{store.product.description}} </p>
  <button ng-show="store.product.canPurchase"> Add to Cart </button>
</div> -->

<div>
 <h1 class="well"> Working with an Array of Products </H1>
    <div ng-repeat="product in store.products">
      <h1> {{product.name}} </h1>
      <h2> {{product.price | currency}}</h2>
      <p> {{product.description}} </p>
      <button ng-show="product.canPurchase">
        Add to Cart</button>
        <hr>
      </div>

      <div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="product in store.products">
            <h3>
            {{product.name}}
            <em class="pull-right">{{product.price | currency}}</em>
            </h3>

              <img ng-src="{{product.images[0].full}}"/>

<section ng-controller="PanelController as panel">
  <ul class="nav nav-pills">
    <li ng-class="{active:panel.isSelected(1)}">
       <a href ng-click="panel.selectTab(1)">Description</a></li>
    <li ng-class="{active:panel.isSelected(2)}">
      <a href ng-click="panel.selectTab(2)">Specifications</a></li>
    <li ng-class="{active:panel.isSelected(3)}">
      <a href ng-click="panel.selectTab(3)">Reviews</a></li>
  </ul>

<div class="panel" ng-show="panel.isSelected(1)">
  <h4>Description</h4>
  <p>{{product.description}}</p>
</div>
<div class="panel" ng-show="panel.isSelected(2)">
  <h4>Specifications</h4>
  <blockquote>None yet</blockquote>
</div>
<div class="panel" ng-show="panel.isSelected(3)">
  <h4>Reviews</h4>
  <blockquote ng-repeat="review in product.reviews">
    <strong> {{review.stars}} Stars</b>
    {{review.body}}
    <cite class="clearfix">-{{review.author}} on {{review.createdOn}}</cite>
    </blockquote>
    <!--form -->
    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
      <!-- Live Preview -->
      <blockquote>
        <strong> {{reviewCtrl.review.stars}} Stars</b>
        {{reviewCtrl.review.body}}
        <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
        </blockquote>
        <!--Review Form-->
        <h4>Submit a Review</h4>
        <fieldset class="form-group">
          <select class="form-control" ng-model="reviewCtrl.review.stars"
            ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
            <option value="">Rate the Product</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <textarea class="form-control" ng-model="reviewCtrl.review.body"
            placeholder="Write a short review fo the product" title="Review" required>
          </textarea>
        </fieldset>
        <fieldset class="form-group">
          <input type="email" ng-model="reviewCtrl.review.author" class="form-control"
          placeholder="jimmyD@example.org" title="Email" required />
        </fieldset>
        <div> reviewForm is {{reviewForm.$valid}} </div>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
        </fieldset>
      </form>

<!--
      <form name="reviewForm">
      <select ng-model="review.stars">
        <option value="1">1 star </option>
        <option value="2">2 stars</option>
        <option value="3">3 stars</option>
        <option value="4">4 stars</option>
        <option value="5">5 stars</option>
      </select>
      <textarea ng-model="review.body"></textarea>
      <label>by:</label>
      <input ng-model="review.author" type="email" />
      <input type="submit" value="submit" />
    </form>
-->
</div>
</section
</li>
</ul>
</div>

</main>
</div>
<footer>

</footer>



<!-- JQUERY SCRIPT LIBRARIES -->
<!-- Javascript CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- FontAwesome -->
<script src="https://use.fontawesome.com/0407b264ab.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>


  </body>
  </html>
